[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3.6"

[packages]
click = "==7.0"

[dev-packages]
"flake8" = "==3.7.9"
mypy = "==0.761"
pytest = "==5.3.2"
pytest-cov = "==2.8.1"
